<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Quizzanova</title>
</head>
<body>
    <header>
        <h1>Quizzanova</h1>
        
    </header>

    <main>
        {% block content %}
        <!-- Content of individual pages will be inserted here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Quizzanova</p>
    </footer>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
